*{
    padding: 0;
    margin: 0;
}

:root{
    --background-color: rgb(255, 254, 240);
    --main-pink: rgb(221, 0, 118);
}

.navbar{
    background-color: var(--background-color);
    height: 120px;
    display: flex;
    align-items: center;
    margin-left: 2px;   
}

.logo{
    flex-direction: row;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    max-width: 100px;
    min-width: 100px;
    margin:  auto;
    cursor: pointer;

}

.navbar-pattern{
    display: flex;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.navbar-pattern .block{
    background-color: white;
    padding-top: 10px;
    max-width: 200px;
    min-width: 180px;
    margin-right: 2px;
    margin-left: 2px;
}

.pink{
    margin-bottom: 5px;
    width: 100%;
    height: 70%;
    background: linear-gradient( rgb(255, 130, 197), rgb(221, 0, 118)) ;
    border-radius: 10px;
}

.yellow{
    width: 100%;
    height: 25%;
    background: linear-gradient(rgb(255, 247, 27), rgb(255, 198, 27)) ;
    border-radius: 10px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2em;
    font-weight: 500;
    background-color: var(--background-color);
    border-bottom: 3px solid var(--main-pink);
}


.menu-text{
    display: flex;
    justify-content: center;
    gap: 17%;
    margin: 15px;
    font-family: alumni sans, thaoma;
    font-size: 1.5em;
    letter-spacing: 0.5px;

}

.menu-item{
    position: relative;
    transition: 0.2s ease-in-out;
    display: inline-block;
   
}

.menu-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--main-pink);
    transition: width 0.3s ease-in-out;
}

.menu-item:hover{
    color: var(--main-pink);
}

.menu-item:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 2px solid var(--main-pink);
    box-shadow: 0 4px 8px rgb(116, 222, 255);
    padding: 10px;
    z-index: 4;
    min-width: 200px;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a {
    color: black;
    padding: 6px 0;
    text-decoration: none;
    display: block;
    transition: color 0.2s;
}

.dropdown-content a:hover {
    color: var(--main-pink);
}

.cart {
   position: absolute;
   padding: 10px;
   right: 20px;
   transition: transform 0.2s;
   cursor: pointer;   
   z-index: 20;
}

.cart:active{
    animation: growShrink 1s ease-in-out;
    
}

.orbit-wrapper {
  position: absolute;
  top: 0.1%;
  left: 10%;
  width: 50px;
  height: 50px;
  transform-origin: center;
  
}

.circle {
  position: absolute;
  bottom: 1px;
  width: 8px;
  height: 8px;
  background-color: rgb(38, 222, 255);
  border-radius: 50%;
  transform: translateX(30px);
}

.orbit-wrapper:hover{
    animation: orbit 1.5s infinite;
}

@keyframes orbit {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes growShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.2);}
    100% { transform: scale(1);}
}

.ham-nav{
    display: none;
}

@media (max-width: 1024px) {
    .menu-text {
        gap: 10%;
    }
}


@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .menu{
        display: none;
    }
    .menu-text{
        display: none;
    }
    .logo{
        display: none;
    }
    .navbar-pattern{
        display: none;
    }
    .ham-nav{
        display:block;
        z-index: 10;
        margin-bottom: 10px;
        padding: 10px;
    }

    .nav-dropdown{
        top: 80px;
        left: 0;
        margin-top: 0;
        padding: 2%;
        
    }
    .nav-dropdown ul li{
        padding: 20px 20px;
        font-family: alumni sans, thaoma;
        font-size: 2em;
        transition: 0.2s ease-in;
    }

    .nav-dropdown ul li:hover{
        color: aqua;
    }
    .cart{
        display: block;
        position: absolute;
        top: 0%;
        background: linear-gradient(rgb(202, 255, 255), rgb(0, 208, 255));
        border-radius: 10px;
        border: 1px solid white;
        margin: 20px;

    }
    .h-menu-btn{
    border: 1px solid pink;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(rgb(255, 176, 204), var(--main-pink));
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(239, 252, 255);
    transition: background 0.3s ease-in, transform 0.1s ease-in;

    }
}