.load-more-btn{
    display: block;
    border: 1px solid pink;
    cursor: pointer;
    padding: 10px;
    margin: 40px auto 80px auto;
    border-radius: 10px;
    background: linear-gradient(rgb(255, 195, 218), rgb(0, 192, 235));
    color: rgb(255, 239, 247);
    transition: background 0.3s ease-in, transform 0.1s ease-in;
}


.load-more-btn:hover{
    background: linear-gradient(rgb(42, 117, 203), var(--main-pink));
}

.load-more-btn:active{
    transform: translateY(1px);
    background: linear-gradient(rgb(228, 247, 255), rgb(119, 216, 255));
}