.locations{
    margin: 2%;
    padding: 10px;
    
}

.location-city{
    margin: 4%;
    padding: 10px;
}

.locations-names{
    margin-bottom: 20px;
    font-family: alumni Sans;
    font-weight: 500;
}

.title{
    display: flex;
    align-items: center;
    margin-top: 5%;
    height: 70px;
}